<mat-card>
    <mat-card-title>Atualizar Carro</mat-card-title>
    <form [formGroup]="marcaForm">
        
        <mat-form-field>
            <input formControlName="nome" matInput placeholder="Nome" name="nome">
        </mat-form-field>        
        <mat-form-field>
            <input formControlName="origem" matInput placeholder="origem" name="origem">
        </mat-form-field>                
    </form>
</mat-card>

<button mat-raised-button (click)="atualizar()" color="primary">
    Atualizar
</button>

<button mat-raised-button (click)="cancelar()" >
    Cancelar
</button>